/* src/frontend/src/components/Home.css */

.home-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between the links */
  }
  
  .home-link {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
  }
  
  .home-link:hover {
    color: #487aad;
    text-decoration: underline;
  } 